/* Cabeçalho */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 20px;
    background: linear-gradient(2deg, #F3C500, #ff9100, #f37500);
}

.logo img {
    width: 150px;
    height: 100px;
}

.title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: larger;
    color: #e1e9e3;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f7e3e3;
    padding: 5px;
    border-radius: 5px;
}

.search-bar .icon-lupa {
    margin: 0 3px 0 5px;
    font-size: 18px;
}

.search-bar input {
    border: none;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    width: 250px;
    background-color: transparent;
    color: white;
}

.search-bar input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.search-bar .btn-pesquisar {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background: linear-gradient(5deg, #05903D, #0AA352, #16be70);
    color: white;
    cursor: pointer;
}

/* Conteúdo Principal */
.main-content {
    display: flex;
    padding: 20px;
}

.form-section, .table-section {
    padding: 20px;
    border-radius: 5px;
}

.form-section {
    background: linear-gradient(150deg, #F3C500, #ff9100, #f37500);
    margin-right: 20px;
    flex: 1;
    max-width: 300px;
}

.product-form label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.product-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-confirmar {
    width: 100%;
    padding: 10px;
    background: linear-gradient(5deg, #05903D, #0AA352, #16be70);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Tabela */
.table-section {
    flex: 2;
    background: linear-gradient(5deg, #05903D, #0AA352, #16be70);
}

.filter-controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.filter-controls select {
    padding: 8px;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: rgb(228, 217, 217);
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    padding: 10px;
    border: 1px solid #000000;
    text-align: left;
}

.product-table th {
    background-color: #242121;
    color: white;
}

.product-table td {
    background-color: rgb(228, 217, 217);
}

.btn-editar, .btn-remover {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-editar {
    background-color: rgb(241, 177, 0);
    margin-right: 5px;
}

.btn-remover {
    background-color: rgb(145, 1, 1);
    color: white;
}

/* Rodapé */
.site-footer {
    background: linear-gradient(25deg, #F3C500, #ff9100, #f37500);
    color: #08351e;
    text-align: center;
    padding: 7px;
    position: relative;
    width: 100%;
}

.site-footer p {
    margin: 0;
}
